@media screen and (max-width: 768px) {
    .requests{
        width: 85%;
        background: white;
        border-radius: 0.7rem;
        padding: 1rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 13px;
    }
    }
    .requests{
      margin-top: 20px;
      margin-bottom: 10px;
      width: 85%;
      background: white;
      border-radius: 0.7rem;
      padding: 1rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 13px;
    }
    
    
    
    .request{
        display: flex;
        gap: 0.5rem;
    }
    
    .request>img{
        width: 3.2rem;
        height: 3.2rem;
    }
    
    .noti>div>span:nth-of-type(1){
        font-weight: bold;
    }
    
    /* Tablets */
    @media screen and (max-width: 1200px) {
        .menuItem>span{
          display: none;
        }
        .logo{
          display: none;
        }
      }
      
      @media screen and (max-width: 768px) {
        .sidebar{
          position: fixed;
          z-index: 9;
          background: #fcf3d8;
          width: 55%;
          padding-right: 1rem;
          height: 100%;
        }
        .menuItem>span{
          display: block;
        }
        .logo{
          display: flex;
        }
        .menu .menuItem:last-child {
          position: relative;
          margin-top: 6rem;
        }
        .bars{
          display: flex;
          position: fixed;
          top: 2rem;
          left:60%;
          background:#fcf3d8;
          padding:10px;
          border-radius: 10px;
          z-index: 9;
        }
        .close{
          left: -60%;
        }
      }