/* Dashboard */

.dashboard {
    /* padding: 0.5rem 3.5rem; */
    background: linear-gradient(
        106.37deg,
        #E1EAF5 29.63%,
        /* #FFD24C  51.55%, */
        #1B668E 90.85%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-glass {
    display: grid;
    height: 97%;
    width: 97%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background: var(--glass);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 11rem auto 23rem;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .dashboard-glass{
      grid-template-columns: 10% 50% auto;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .dashboard-glass{
      grid-template-columns: 1fr;
    } 
  }